@import "../Global.scss";

.movieModal {
  background-color: #fff;
  border: none;
  width: 90%;
  position: relative;
  display: flex;
  background-color: $theme-color;
  color: #fff;
  padding-top: 70px;

  .backLink {
    position: absolute;
    right: -50px;
    top: 100px;
    width: 100px;

    .link {
      text-align: center;
      text-decoration: none;
      color: $movie-title-color;
      border: 2px solid $movie-title-color;
      border-radius: 5px;
      padding: 10px;
      transition: 0.2s;

      &:hover {
        color: #fff;
        background-color: $movie-title-color;
      }
    }
  }

  img {
    min-width: 400px;
    height: 90vh;
  }

  i {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
  }

  .modalList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 50px 0 20px;

    .modalCast p {
      display: inline-block;
      margin-left: 10px;

      &:first-child {
        font-size: 16px;
        font-weight: 700;
        color: $movie-title-color;
      }
    }

    .modalGenres p {
      display: inline-block;
      margin-left: 10px;

      &:first-child {
        font-size: 16px;
        font-weight: 700;
        color: $movie-title-color;
      }
    }
    h1 {
      font-size: $mid-header-font;
    }

    button {
      border: 2px solid $movie-title-color;
      color: $movie-title-color;
      background: none;
      padding: 5px 15px;
      margin: 0 10px;
      width: 200px;
      height: 50px;
      margin-bottom: 100px;
      transition: 0.3s;

      &:hover {
        color: #fff;
        background-color: $movie-title-color;
      }
    }
  }

  .modalTrailer {
    position: absolute;

    .modalYt {
      button {
        border: none;
        outline: none;
        background-color: $movie-title-color;
        color: #fff;
        padding: 5px 18px;
        position: absolute;
        left: 200px;
      }

      .ytVideo {
        position: absolute;
        left: 200px;
        top: 32px;
      }
    }
  }
}

.modalBtn {
  button {
    border: 2px solid $movie-title-color;
    color: $movie-title-color;
    background: none;
    padding: 5px 15px;
    margin: 0 10px;
    transition: 0.3s;

    &:hover {
      color: #fff;
      background-color: $movie-title-color;
    }
  }
}

@media only screen and (max-width: 700px) {
  .movieModal {
    flex-direction: column;

    img {
      width: 100vw;
    }

    .modalList {
      margin-top: 50px;
    }

    .backLink {
      .link {
        background-color: $movie-title-color;
        color: #fff;
      }
    }

    .modalTrailer {
      .modalYt {
        button {
          left: 10px;
          top: 470px;
        }

        .ytVideo {
          position: absolute;
          left: 10px;
          top: 502px;

          .youtube {
            width: 95vw;
          }
        }
      }
    }
  }
}
