$font-color: rgb(184, 81, 212);
$movie-title-color: rgb(217, 104, 227);
$movie-title-theme: rgb(24, 52, 84);
$theme-color: rgb(2, 13, 27);
$sec-theme-color:  #3b1053;
$nav-theme-alpha: rgba(4, 20, 40, .8);
$nav-theme: rgb(4, 20, 40);
$max-header-font: 3rem;
$mid-header-font: 30px;
$min-header-font: 20px;
$normal-font: 20px;
$font-family: serif;
$box-shadow: 12px 10px 8px rgba(0, 0, 0, .2);